/* valori di default per la pagina */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-head{
    max-width: 1024px;
    margin: 0 auto;
}
/* reset sulla lista */
ul, ol, menu{
    list-style: none;
}

.page-header{
    background-color: rgb(250, 114, 3);

}

.row{
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    color: white;
}

.hearts{
    padding: 5px;
}

.menu{
    display: flex;
}
.logo{
    display: block;
    height: 40px;
}

.page-header .row{
    justify-content: space-between;
}

.item-menu{
    flex-direction: row;
    padding: 20px;
    line-height: 20px;
}
